Repository HMC-STAMPLATE/JSONSchema: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate-schemas, validate-jsonld, upload, release

validate-schemas:
  stage: test
  image: node:lts
  before_script:
  - npm ci
  script:
  - npm run lint:schemas
  - npm run lint:schemas-examples

validate-jsonld:
  stage: test
  image: node:lts
  before_script:
  - npm ci
  script:
  - npm run lint:jsonld
  - npm run lint:jsonld-examples

upload:
  stage: upload
  image: node:lts
  script:
  - 'export PACKAGE_VERSION=$(node -p "require(''./package.json'').version")
  
    '
  - 'echo "PACKAGE_VERSION=${PACKAGE_VERSION}" >> build.env
  
    '
  ...

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
  - 'true'
  release:
    name: Release ${PACKAGE_VERSION}
    description: Release ${PACKAGE_VERSION} of ${CI_PROJECT_NAME}
    tag_name: ${PACKAGE_VERSION}
    ref: ${PACKAGE_VERSION}
    assets:
      links:
  ...

remove obsolete comma
  stamplate.jsonld
Due: validate-jsonld, upload, release

- Unified writing of uom to the one used in STA.
  examples/datastream_properties.json
  schemas/datastream_properties.schema.json
Due: validate-schemas, validate-jsonld

restructure deployment
  examples/datastream_properties.json
  schemas/datastream_properties.schema.json
  schemas/deployment.schema.json
  stamplate.jsonld
Due: validate-schemas, validate-jsonld, upload, release

add definition
  examples/datastream_properties.json
Due: validate-schemas, validate-jsonld

allow empty string for definition
  schemas/datastream_properties.schema.json
Due: validate-schemas

add `isVirtual`, allow empty identifier
  examples/sensor_properties.json
  schemas/sensor_properties.schema.json
Due: validate-schemas, validate-jsonld

add `ObservedPropertyProperties`
  examples/observed_property_properties.json
  schemas/observed_property_properties.schema.json
  stamplate.jsonld
Due: validate-schemas, validate-jsonld, upload, release

use plural
  schemas/datastream_properties.schema.json
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
Due: validate-schemas

add `ObservationProperties`
  examples/observation_properties.json
  schemas/observation_properties.schema.json
  stamplate.jsonld
Due: validate-schemas, validate-jsonld, upload, release

refine `sourceRelatedThings`
  examples/thing_properties.json
  schemas/thing_properties.schema.json
  stamplate.jsonld
Due: validate-schemas, validate-jsonld, upload, release

add missing types
  stamplate.jsonld
Due: validate-jsonld, upload, release

added missing terms, renamed others
  examples/datastream_properties.json
  examples/thing_properties.json
  schemas/datastream_properties.schema.json
  schemas/thing_properties.schema.json
  stamplate.jsonld
Due: validate-schemas, validate-jsonld, upload, release

fix typos
  stamplate.jsonld
Due: validate-jsonld, upload, release

add `LocationProperties`
  examples/location_properties.json
  schemas/location_properties.schema.json
Due: validate-schemas, validate-jsonld

rename entities and sort JSON-LD context
  examples/datastream_properties.json
  examples/thing_properties.json
  schemas/datastream_properties.schema.json
  schemas/thing_properties.schema.json
  stamplate.jsonld
Due: validate-schemas, validate-jsonld, upload, release

Rename entities
  examples/datastream_properties.json
  examples/location_properties.json
  examples/thing_properties.json
  schemas/datastream_properties.schema.json
  schemas/location_properties.schema.json
  schemas/thing_properties.schema.json
  stamplate.jsonld
Due: validate-schemas, validate-jsonld, upload, release

- Removed the `atDepth` and `depthUom` from the `deployment` schema. - Replaced any `Uom` "string" definition by a tuple definition.
  examples/datastream_properties.json
  schemas/datastream_properties.schema.json
Due: validate-schemas, validate-jsonld

- Removed the `atDepth` and `depthUom` from the jsonld. - Added code and label.
  stamplate.jsonld
Due: validate-jsonld, upload, release

- Fixed example with correct UN/CEFACT Common Code.
  examples/datastream_properties.json
Due: validate-schemas, validate-jsonld

- Fixed example with more correct UN/CEFACT Common Codes. - Added rule to fix the code length to 3.
  examples/datastream_properties.json
  schemas/datastream_properties.schema.json
Due: validate-schemas, validate-jsonld

- More unit fixes in datastream_properties.json.
  examples/datastream_properties.json
Due: validate-schemas, validate-jsonld

- Units re-defined as triple (name, symbol, definition).
  examples/datastream_properties.json
  schemas/datastream_properties.schema.json
  stamplate.jsonld
Due: validate-schemas, validate-jsonld, upload, release

Update file datastream_properties.schema.json
  schemas/datastream_properties.schema.json
Due: validate-schemas

example data for #23
  examples/datastream_properties.json
Due: validate-schemas, validate-jsonld

rearranged some definitions, used scoped contexts
  examples/datastream_properties.json
  schemas/datastream_properties.schema.json
  stamplate.jsonld
Due: validate-schemas, validate-jsonld, upload, release

- Definition for the mean value aggregation function from the sms cv: aggregation.
  examples/datastream_properties.json
Due: validate-schemas, validate-jsonld

changed naming of license provider for #23
  examples/datastream_properties.json
  schemas/datastream_properties.schema.json
Due: validate-schemas, validate-jsonld

- Minor fix in datastream_properties.schema.json required field.
  schemas/datastream_properties.schema.json
Due: validate-schemas

- Added field dataSource to datastream_properties.schema.json.
  examples/datastream_properties.json
  schemas/datastream_properties.schema.json
Due: validate-schemas, validate-jsonld

- Added mapping documentation draft.
  documentation/mapping.md
Due: none

Resolve "datastream.properties.license.responsibleParty"
  examples/datastream_properties.json
  schemas/datastream_properties.schema.json
Due: validate-schemas, validate-jsonld

remove all required fields
  schemas/datastream_properties.schema.json
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
Due: validate-schemas

Remove all required fields
  schemas/datastream_properties.schema.json
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
Due: validate-schemas

add definition field, define optionalUrl
  examples/sensor_properties.json
  examples/thing_properties.json
  schemas/datastream_properties.schema.json
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
Due: validate-schemas, validate-jsonld

correct CV links
  examples/sensor_properties.json
  examples/thing_properties.json
Due: validate-schemas, validate-jsonld

added available mapping information
  documentation/mapping.md
Due: none

Add definition fields
  examples/sensor_properties.json
  examples/thing_properties.json
  schemas/datastream_properties.schema.json
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
Due: validate-schemas, validate-jsonld

- Added @id descriptions. - Added identifier descriptions. - Added other field descriptions. - Unified descriptions: starting lower-case, no sentence, not starting with an article
  schemas/datastream_properties.schema.json
  schemas/location_properties.schema.json
  schemas/observation_properties.schema.json
  schemas/observed_property_properties.schema.json
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
Due: validate-schemas

- Filled some ? gaps. - Improved some links/definitions by the information from the current MaTS implementation.
  documentation/mapping.md
Due: none

- 1st merge attempt.
  documentation/mapping.md
  examples/sensor_properties.json
  examples/thing_properties.json
  schemas/datastream_properties.schema.json
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
Due: validate-schemas, validate-jsonld

Path conditions:
  validate-schemas: any of: schemas/*.schema.json, examples/*.json
  validate-jsonld: any of: examples/*.json, stamplate.jsonld
  upload: any of: stamplate.jsonld
  release: any of: stamplate.jsonld
