Repository HMC-STAMPLATE/JSONSchema: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate-schemas, validate-jsonld, release

.gitlab-ci.yml:

stages:
  - test
  - release

variables:
  PACKAGE_REGISTRY_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/stamplate"

validate-schemas:
  stage: test
  image: node:lts
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        # just run the tests when something in the schemas or examples changed
        #
        # in the future we can use $CI_DEFAULT_BRANCH, too
        # see https://gitlab.com/gitlab-org/gitlab/-/issues/369916
        compare_to: 'refs/heads/main'
        paths:
          - 'schemas/*.schema.json'
          - 'examples/*.json'
  before_script:
    - npm ci
  script:
    - "npm run lint:schemas"
    - "npm run lint:schemas-examples"

validate-jsonld:
  stage: test
  image: node:lts
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        # just run the tests when something in the examples or the context file
        # changed
        #
        # in the future we can use $CI_DEFAULT_BRANCH, too
        # see https://gitlab.com/gitlab-org/gitlab/-/issues/369916
        compare_to: 'refs/heads/main'
        paths:
          - 'examples/*.json'
          - 'stamplate.jsonld'
  before_script:
    - npm ci
  script:
    - "npm run lint:jsonld"
    - "npm run lint:jsonld-examples"

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        paths:
          - 'schemas/*.schema.json'
          - 'examples/*.json'
          - 'stamplate.jsonld'
  script:
    - 'true'
  release:
    name: "Release ${PACKAGE_VERSION}"
    description: "Release ${PACKAGE_VERSION} of ${CI_PROJECT_NAME}"
    tag_name: "${PACKAGE_VERSION}"
    ref: "${PACKAGE_VERSION}"

pages:
  stage: release
  image: node:lts
  before_script:
    - npm ci
  script:
    # cp static files to public/
    - "mkdir -p public/schemas && cp schemas/*.schema.json public/schemas/."
    - "mkdir -p public/vocab && cp stamplate.jsonld public/vocab/."
    # build the site
    - "npx @11ty/eleventy"
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

deploy: 8bc3fb4c09c94e1ac8be26f410e82da0c5350bd2
  .doctrees/environment.pickle
  observation_resultQuality.schema.json
Due: none

Update docs/sta_endpoints.md
  docs/sta_endpoints.md
Due: none

deploy: 708b7d295d7fcfc8fec41a30fc9ff5ee06ae3a3c
  .doctrees/environment.pickle
  .doctrees/index.doctree
  .doctrees/sta_endpoints.doctree
  _sources/index.md.txt
  _sources/sta_endpoints.md.txt
  _sphinx_design_static/design-tabs.js
  _sphinx_design_static/sphinx-design.min.css
  _static/design-tabs.js
  _static/sphinx-design.min.css
  genindex.html
  mapping.html
  objects.inv
  properties.html
  search.html
  searchindex.js
  sta-data-model.html
  sta_endpoints.html
  usage.html
Due: none

deploy: 096f0262a4d1302f07f602bbd8db913c98a93b75
  .doctrees/environment.pickle
Due: none

Revised list of contributors; made title more consistent
  CITATION.cff
  docs/conf.py
  docs/index.md
  docs/sta_endpoints.md
Due: none

Adapted title in README to match the title of the docu
  README.md
Due: none

Changed H1 on index.md
  docs/index.md
Due: none

deploy: 6852ea46f89a12dddc7e6ea26fe4ac559986d239
  .buildinfo
  .doctrees/environment.pickle
  .doctrees/index.doctree
  .doctrees/sta_endpoints.doctree
  _sources/index.md.txt
  _sources/sta_endpoints.md.txt
  genindex.html
  index.html
  mapping.html
  objects.inv
  properties.html
  search.html
  searchindex.js
  sta-data-model.html
  sta_endpoints.html
  usage.html
Due: none

Cleaned up workflows; added docs-branches to gh-pages workflow
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

Added list of contributors to zenodo.json; revised list of authors
  .zenodo.json
  CITATION.cff
Due: none

deploy: 608e43e0348a4a7b3267aed05f56fa0a6c214feb
  .buildinfo
  .doctrees/environment.pickle
  .doctrees/index.doctree
  index.html
Due: none

Minor change in acknowledgement-affiliations
  docs/index.md
Due: none

deploy: 12c9a2d25e13411429d7edc9d31b25eaa2d266fd
  .doctrees/environment.pickle
  .doctrees/index.doctree
  _sources/index.md.txt
  index.html
  searchindex.js
Due: none

Removed DS_Store in docs-dir; closes #24
  docs/_static/.DS_Store
Due: none

- Extended description observation_properties.schema.json. - Modified definition of @import so that the import of stamplate.jsonld is mandatory.
  schemas/observation_properties.schema.json
Due: validate-schemas, release

- Replaced @import by @context in observation_properties.schema.json.
  schemas/observation_properties.schema.json
Due: validate-schemas, release

- Added required DQV terms stamplate-dqv.jsonld. - Added respective import to stamplate.jsonld.
  stamplate-dqv.jsonld
  stamplate.jsonld
Due: validate-jsonld, release

- Some reformatting in stamplate-dqv.jsonld. - Extended observation_properties.schema.json by the DQV terms.
  examples/observation_properties.json
  schemas/observation_properties.schema.json
  stamplate-dqv.jsonld
  stamplate.jsonld
Due: validate-schemas, validate-jsonld, release

- Added a version of hasQualityMeasurement in observation_properties.schema.json. - Added type QualityMeasurementDataset for datastreams.
  examples/datastream_properties.json
  examples/observation_properties.json
  schemas/datastream_properties.schema.json
  schemas/observation_properties.schema.json
Due: validate-schemas, validate-jsonld, release

- Added simple example script executing a possible mapping from STA to OGC API records.
  tools/sta_to_ogcapi-records.py
Due: none

- Removed observation_resultQuality.schema.json as it is replaced by the observation_properties_schema.json.
  schemas/observation_resultQuality.schema.json
Due: validate-schemas, release

- Added parameters hint.
  schemas/observation_properties.schema.json
Due: validate-schemas, release

- Added top-level property qualitySetup in observation_properties.schema.json. - Defined qualitySchema as flattened property.
  schemas/observation_properties.schema.json
  stamplate-dqv.jsonld
Due: validate-schemas, release

- Fixed example in observation_properties.json.
  examples/observation_properties.json
  stamplate-dqv.jsonld
Due: validate-schemas, validate-jsonld, release

allow `object` *or* `string` for `datasource` properties
  schemas/datastream_properties.schema.json
  schemas/observation_properties.schema.json
Due: validate-schemas, release

extend example
  examples/datastream_properties.json
Due: validate-schemas, validate-jsonld, release

extend documentation
  docs/properties.md
  examples/datastream_properties.json
Due: validate-schemas, validate-jsonld, release

fix usage of @id in JSON-LD
  README.md
  stamplate.jsonld
Due: validate-jsonld, release

Update sta_endpoints.md
  docs/sta_endpoints.md
Due: none

deploy: 3e4e448c66f3169cbe175142ceb51ca3671249bd
  .buildinfo
  .doctrees/environment.pickle
  .doctrees/index.doctree
  .doctrees/mapping.doctree
  .doctrees/properties.doctree
  .doctrees/sta-data-model.doctree
  .doctrees/sta_endpoints.doctree
  .doctrees/usage.doctree
  _sources/sta_endpoints.md.txt
  _static/base-stemmer.js
  _static/doctools.js
  _static/english-stemmer.js
  _static/language_data.js
  _static/searchtools.js
  _static/sphinx_highlight.js
  _static/styles/furo.css
  _static/styles/furo.css.map
  genindex.html
  index.html
  mapping.html
  properties.html
  search.html
  searchindex.js
  sta-data-model.html
  sta_endpoints.html
  usage.html
Due: none

deploy: 31136702e1dc646023d744c47ef74b880fe02b2c
  .doctrees/environment.pickle
  .doctrees/sta_endpoints.doctree
  _sources/sta_endpoints.md.txt
  searchindex.js
  sta_endpoints.html
Due: none
