Repository HMC-STAMPLATE/JSONSchema: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate-schemas, upload, release

.gitlab-ci.yml:

stages:
  - test
  - upload
  - release

variables:
  PACKAGE_REGISTRY_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/stamplate"

validate-schemas:
  stage: test
  image: node:lts
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        compare_to: 'refs/heads/main'
        paths:
          - 'schemas/*.schema.json'
  before_script:
    - npm ci
  script:
    - for file in schemas/*.json; do; npx ajv-cli compile -s $file || exit $?; done;

upload:
  stage: upload
  image: node:lts
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - stamplate.jsonld
  script:
    - |
      export PACKAGE_VERSION=$(node -p "require('./package.json').version")
    - |
      echo "PACKAGE_VERSION=${PACKAGE_VERSION}" >> build.env
    - |
      curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file stamplate.jsonld "${PACKAGE_REGISTRY_URL}/${PACKAGE_VERSION}/stamplate.jsonld"
  artifacts:
    reports:
      dotenv: build.env

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - stamplate.jsonld
  script:
    - 'true'
  release:
    name: "Release ${PACKAGE_VERSION}"
    description: "Release ${PACKAGE_VERSION} of ${CI_PROJECT_NAME}"
    tag_name: "${PACKAGE_VERSION}"
    ref: "${PACKAGE_VERSION}"
    assets:
      links:
        - name: "stamplate.jsonld"
          filepath: "/stamplate.jsonld"
          url: "${PACKAGE_REGISTRY_URL}/${PACKAGE_VERSION}/stamplate.jsonld"

nonsense path for testing purposes
  .gitlab-ci.yml
Due: none

disable rules for testing purposes
  .gitlab-ci.yml
Due: none

remove obsolete ;
  .gitlab-ci.yml
Due: none

add job to test examples against schemas
  .gitlab-ci.yml
Due: none

escape the backslash
  .gitlab-ci.yml
Due: none

move schema validation into one job
  .gitlab-ci.yml
Due: none

activate rules again, add some comments
  .gitlab-ci.yml
Due: none

add job to validate examples for jsonld compatibility
  .gitlab-ci.yml
Due: none

add warning about the linter
  README.md
Due: none

Add test stage
  .gitlab-ci.yml
  README.md
Due: none

update packages
  package-lock.json
Due: none

install Eleventy static site generator
  package-lock.json
  package.json
Due: none

ignore static site generator output
  .gitignore
Due: none

add simple page
  .eleventy.js
  .gitignore
  docs/pages/index.11tydata.js
  docs/pages/index.md
Due: none

add pages job
  .gitlab-ci.yml
Due: none

add -p option
  .gitlab-ci.yml
Due: none

add artifacts path
  .gitlab-ci.yml
Due: none

add project path
  docs/pages/index.md
Due: none

pass the CI_PROJECT_NAME
  docs/pages/index.11tydata.js
  docs/pages/index.md
Due: none

add leading slash
  docs/pages/index.md
Due: none

add layout
  docs/pages/_includes/base.md
  docs/pages/index.md
Due: none

remove doctype
  docs/pages/_includes/base.md
Due: none

add rules
  .gitlab-ci.yml
Due: none

remove upload, create release of the full repository
  .gitlab-ci.yml
Due: none

use npm scripts in GitLab CI
  .gitlab-ci.yml
  package.json
Due: none

add overall lint command
  package.json
Due: none

use array for responsiblePersons property in role
  examples/sensor_properties.json
  examples/thing_properties.json
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
Due: validate-schemas

better examples
  README.md
Due: none

Use array for responsible persons inside of Role
  .gitlab-ci.yml
  README.md
  examples/sensor_properties.json
  examples/thing_properties.json
  package.json
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
Due: validate-schemas

- Renamed @id type in $defs to url. - Changed types for @id and identifiers to url.
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
Due: validate-schemas

- Removed status field for things and sensors.
  examples/sensor_properties.json
  examples/thing_properties.json
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
Due: validate-schemas

- Changed type of sensor.isVariantOf to ProductGroup.
  examples/sensor_properties.json
  schemas/sensor_properties.schema.json
Due: validate-schemas

- Moved providerMobility property to datastream also adding the possible value "profiling" for vertical mobility.
  examples/datastream_properties.json
  examples/thing_properties.json
  schemas/datastream_properties.schema.json
  schemas/thing_properties.schema.json
Due: validate-schemas

Added sourceRelatedThings
  schemas/thing_properties.schema.json
Due: validate-schemas

- Refactored thing_properties.$defs to conform with https://json-schema.org/understanding-json-schema/structuring#defs. - Added constant thing_properties.containedInPlaceRelationRole.
  schemas/thing_properties.schema.json
Due: validate-schemas

- Added example for thing_properties.containedInPlaceRelationRole.
  examples/thing_properties.json
Due: none

- Refactored sensor_properties.$defs to conform with https://json-schema.org/understanding-json-schema/structuring#defs.
  schemas/sensor_properties.schema.json
Due: validate-schemas

- Added $defs section. - Removed geoCoordinates. - Added observingProcedure. - Added Deployment. - Updated datastream_properties.
  examples/datastream_properties.json
  schemas/datastream_properties.schema.json
  schemas/deployment.schema.json
  schemas/sensor_properties.schema.json
  stamplate.jsonld
Due: validate-schemas, upload, release

refine `observingProcedure`
  examples/datastream_properties.json
  schemas/datastream_properties.schema.json
Due: validate-schemas

add `[o|O]bservingProcedure` to context
  stamplate.jsonld
Due: upload, release
