Repository HMC-STAMPLATE/JSONSchema: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate-schemas, validate-jsonld, upload, release

.gitlab-ci.yml:

stages:
  - test
  - upload
  - release

variables:
  PACKAGE_REGISTRY_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/stamplate"

validate-schemas:
  stage: test
  image: node:lts
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        # just run the tests when something in the schemas or examples changed
        #
        # in the future we can use $CI_DEFAULT_BRANCH, too
        # see https://gitlab.com/gitlab-org/gitlab/-/issues/369916
        compare_to: 'refs/heads/main'
        paths:
          - 'schemas/*.schema.json'
          - 'examples/*.json'
  before_script:
    - npm ci
  script:
    - "npm run lint:schemas"
    - "npm run lint:schemas-examples"

validate-jsonld:
  stage: test
  image: node:lts
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        # just run the tests when something in the examples or the context file
        # changed
        #
        # in the future we can use $CI_DEFAULT_BRANCH, too
        # see https://gitlab.com/gitlab-org/gitlab/-/issues/369916
        compare_to: 'refs/heads/main'
        paths:
          - 'examples/*.json'
          - 'stamplate.jsonld'
  before_script:
    - npm ci
  script:
    - "npm run lint:jsonld"
    - "npm run lint:jsonld-examples"

upload:
  stage: upload
  image: node:lts
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - stamplate.jsonld
  script:
    - |
      export PACKAGE_VERSION=$(node -p "require('./package.json').version")
    - |
      echo "PACKAGE_VERSION=${PACKAGE_VERSION}" >> build.env
    - |
      curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file stamplate.jsonld "${PACKAGE_REGISTRY_URL}/${PACKAGE_VERSION}/stamplate.jsonld"
  artifacts:
    reports:
      dotenv: build.env

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - stamplate.jsonld
  script:
    - 'true'
  release:
    name: "Release ${PACKAGE_VERSION}"
    description: "Release ${PACKAGE_VERSION} of ${CI_PROJECT_NAME}"
    tag_name: "${PACKAGE_VERSION}"
    ref: "${PACKAGE_VERSION}"
    assets:
      links:
        - name: "stamplate.jsonld"
          filepath: "/stamplate.jsonld"
          url: "${PACKAGE_REGISTRY_URL}/${PACKAGE_VERSION}/stamplate.jsonld"

- Fixes from 1st merge.
  schemas/datastream_properties.schema.json
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
Due: validate-schemas

- Unified identifier schemas to use optionalUrl.
  schemas/datastream_properties.schema.json
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
Due: validate-schemas

- Added schema for Observation.resultQuality. - Added missing type definitions in stamplate.jsonld. - Added descriptions. - Added example.
  schemas/observation_resultQuality.schema.json
  stamplate.jsonld
Due: validate-schemas, validate-jsonld, upload, release

- Added example.
  examples/observation_resultQuality.json
Due: validate-schemas, validate-jsonld

- Added @id to example.
  examples/observation_resultQuality.json
Due: validate-schemas, validate-jsonld

- Fixed type in example.
  examples/observation_resultQuality.json
Due: validate-schemas, validate-jsonld

- Fixed definition in example.
  examples/observation_resultQuality.json
Due: validate-schemas, validate-jsonld

- Added images definition to thing_properties.schema.json and sensor_properties.schema.json. - Added example for thing. - Added semantics alias.
  examples/thing_properties.json
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
  stamplate.jsonld
Due: validate-schemas, validate-jsonld, upload, release

filled some O2A ? for #24
  documentation/mapping.md
Due: none

shortened O2A links for #24
  documentation/mapping.md
Due: none

Alias @id and @type with jsonld.id and jsonld.type
  examples/datastream_properties.json
  examples/location_properties.json
  examples/observation_properties.json
  examples/observed_property_properties.json
  examples/sensor_properties.json
  examples/thing_properties.json
  schemas/datastream_properties.schema.json
  schemas/location_properties.schema.json
  schemas/observation_properties.schema.json
  schemas/observed_property_properties.schema.json
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
  stamplate.jsonld
Due: validate-schemas, validate-jsonld, upload, release

Increased version in package.json.
  package.json
Due: none

Fixed jsonld.id in datastream_properties with link to datastream-link view page.
  examples/datastream_properties.json
Due: validate-schemas, validate-jsonld

- Added array annotations in resultQuality schema. - Added example.
  examples/observation_resultQuality.json
  schemas/observation_resultQuality.schema.json
Due: validate-schemas, validate-jsonld

- Added schema for annotationTime in Observation.resultQuality.
  examples/observation_resultQuality.json
  schemas/observation_resultQuality.schema.json
  stamplate.jsonld
Due: validate-schemas, validate-jsonld, upload, release

- Changed example values for SaQC.
  examples/observation_resultQuality.json
Due: validate-schemas, validate-jsonld

Added citation
  CITATION.cff
Due: none

Updated citation
  CITATION.cff
Due: none

Added github-action to trigger automatic building and publishing
  .github/workflows/release.yml
Due: none

Added first couple of documentation pieces
  Makefile
  docs/conf.py
  docs/getting-started.md
  docs/index.md
  requirements-docs.txt
  schemas/Thing.md
Due: none

Added small tool that parses CITATION.cff to zenodo.json
  tools/cff_to_zenodo.py
Due: none

Some changes in documentation
  docs/conf.py
  docs/index.md
  schemas/Thing.md
Due: none

Added placeholder for sta data model
  docs/sta-data-model.md
Due: none

Added Sandbox as zenodo-endpoint
  .github/workflows/release.yml
Due: none

Cleaned up repo
  docs/schemas/Thing.md
  schemas/Thing.md
Due: none

Test github actions
  docs/index.md
Due: none

Removed Thing for testing
  docs/index.md
Due: none

Repaired thing
  docs/index.md
  docs/schemas/Thing.md
Due: none

Removed citation to zenodo step
  .github/workflows/release.yml
  .zenodo.json
Due: none

Fixed small bug
  .github/workflows/release.yml
Due: none

Fixed github action
  .github/workflows/release.yml
  .zenodo.json
Due: none

Work on STA-section
  docs/conf.py
  docs/index.md
  docs/sta-data-model.md
Due: none

Added workflow for building docs
  .github/workflows/docs.yml
Due: none

Switched docs-branch for github actions
  .github/workflows/docs.yml
Due: none

minor change
  .github/workflows/docs.yml
Due: none

Stuff
  requirements-docs.txt
Due: none

Added bib and static directory
  docs/_static/.DS_Store
  docs/_static/images/sta_data_model.png
  docs/refs.bib
Due: none

Adapted workflow
  .github/workflows/docs.yml
Due: none

Added permission-stuff for pushing to gh-pages
  .github/workflows/docs.yml
Due: none
