Repository HMC-STAMPLATE/JSONSchema: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate-schemas, validate-jsonld, release

validate-schemas:
  stage: test
  image: node:lts
  before_script:
  - npm ci
  script:
  - npm run lint:schemas
  - npm run lint:schemas-examples

validate-jsonld:
  stage: test
  image: node:lts
  before_script:
  - npm ci
  script:
  - npm run lint:jsonld
  - npm run lint:jsonld-examples

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
  - 'true'
  release:
    name: Release ${PACKAGE_VERSION}
    description: Release ${PACKAGE_VERSION} of ${CI_PROJECT_NAME}
    tag_name: ${PACKAGE_VERSION}
    ref: ${PACKAGE_VERSION}

Removed stuff from conf so that the version is shown in the docs
  docs/conf.py
Due: none

deploy: 81a5de8edd7e7b8c321c31685ee55818fbd2e262
  .doctrees/environment.pickle
Due: none

Changed duplicate label of thing tables
  docs/properties.md
Due: none

Removed documentation-directory as everything is now included in docs
  documentation/mapping.md
Due: none

Changed docs-config so that version is shown below the title
  docs/conf.py
  docs/index.md
Due: none

deploy: 89e1a9a3166c03e8057b9832b90ba391c92794d1
  .buildinfo
  .doctrees/environment.pickle
  .doctrees/index.doctree
  .doctrees/properties.doctree
  _sources/index.md.txt
  _sources/properties.md.txt
  _static/images/datahub_logo.png
  _static/images/sta_data_model.png
  index.html
  objects.inv
  properties.html
  searchindex.js
Due: none

rename type in example
  examples/thing_properties.json
Due: validate-schemas, validate-jsonld, release

rename id and type in example
  examples/observation_resultQuality.json
Due: validate-schemas, validate-jsonld, release

update example output
  README.md
Due: none

remove unnecessary properties
  schemas/thing_properties.schema.json
Due: validate-schemas, release

Refactor jsonld type consistency (#8)
  README.md
  examples/observation_resultQuality.json
  examples/thing_properties.json
  package.json
  schemas/observation_resultQuality.schema.json
  schemas/sensor_properties.schema.json
  schemas/thing_properties.schema.json
Due: validate-schemas, validate-jsonld, release

deploy: 62333ca2bbf17eab929097a1d75b800e0164da33
  .doctrees/environment.pickle
  observation_resultQuality.schema.json
  sensor_properties.schema.json
  thing_properties.schema.json
Due: none

fix id and type in documentation
  docs/properties.md
Due: none

clean up examples
  examples/datastream_properties.json
  examples/location_properties.json
  examples/observed_property_properties.json
  examples/sensor_properties.json
  examples/thing_properties.json
Due: validate-schemas, validate-jsonld, release

update READNE with current example
  README.md
Due: none

update contributors
  package.json
Due: none

use remote url to jsonld file
  examples/datastream_properties.json
  examples/location_properties.json
  examples/observation_properties.json
  examples/observation_resultQuality.json
  examples/observed_property_properties.json
  examples/sensor_properties.json
  examples/thing_properties.json
Due: validate-schemas, validate-jsonld, release

delete obsolete CI file
  .gitlab-ci.yml
Due: none

change namespace of vocabulary
  README.md
  stamplate.jsonld
Due: validate-jsonld, release

Changed relationRole reference in datastream_properties.schema.json to exitsting definition.
  schemas/datastream_properties.schema.json
Due: validate-schemas, release

add hint because of the remote JSON-LD definition
  README.md
Due: none

Updated datastream_properties.json example.
  examples/datastream_properties.json
Due: validate-schemas, validate-jsonld, release

Added section with STA-endpoints
  docs/conf.py
  docs/index.md
  docs/sta_endpoints.md
Due: none

Integrated latest changes in JSON schema and example
  examples/datastream_properties.json
  schemas/datastream_properties.schema.json
Due: validate-schemas, validate-jsonld, release

- Fixed some typos. - Some language improvements.
  README.md
Due: none

Cleanup for release (#17)
  .gitlab-ci.yml
  README.md
  docs/properties.md
  examples/datastream_properties.json
  examples/location_properties.json
  examples/observation_properties.json
  examples/observation_resultQuality.json
  examples/observed_property_properties.json
  examples/sensor_properties.json
  examples/thing_properties.json
  package.json
  schemas/datastream_properties.schema.json
  stamplate.jsonld
Due: validate-schemas, validate-jsonld, release

deploy: 20f9e9295a0b98ef62536c4cb7460cf1d9067203
  .doctrees/environment.pickle
  .doctrees/properties.doctree
  _sources/properties.md.txt
  datastream_properties.schema.json
  properties.html
  stamplate.jsonld
Due: validate-jsonld, release

change package name and version
  package.json
Due: none

add example for validation
  README.md
Due: none

ignore the build folder
  .gitignore
Due: none

update package version and name
  package-lock.json
  package.json
Due: none

fix example
  examples/thing_properties.json
Due: validate-schemas, validate-jsonld, release

Update README.md
  README.md
Due: none

Update package.json (#18)
  .gitignore
  README.md
  package-lock.json
  package.json
Due: none

deploy: 67d9e63ae53e532da370a410a52cb5dd75d12602
  .doctrees/environment.pickle
Due: none

Added .DS_Store to .gitignore to ignore Mac-Stuff
  .gitignore
Due: none

Changed instance of @type in annotation-properties to jsonld.type
  schemas/observation_resultQuality.schema.json
Due: validate-schemas, release

Update docs/sta_endpoints.md
  docs/sta_endpoints.md
Due: none

Added sphinx-design to requirements
  requirements-docs.txt
Due: none

Path conditions:
  validate-schemas: any of: schemas/*.schema.json, examples/*.json
  validate-jsonld: any of: examples/*.json, stamplate.jsonld
  release: any of: schemas/*.schema.json, examples/*.json, stamplate.jsonld
